/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 .navbar{
  background-color: #F8F9FA;
  height: 60px;
  display: flex;
  justify-items: center ;
  justify-content: space-between;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
 }
 .wikinimous a{
  text-decoration: none;
  color: black;
 }

 .btn-create .btn-flat, .new .btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #007BFF;
}

 .btn-create .btna:hover, .btn-flat:hover {
  background: #0069D9;
  color: white;
}
#alert{
  background-color: #D1ECF1;
 margin-top: 6px;
}
.list-article{
  list-style: none;
  text-decoration: none;
  line-height: 3rem;

}
.title{
  font-weight: bold;
  font-size: 32px;
}
.title a{
  text-decoration: none;
}
.title a:hover{
  text-decoration: underline;
  color:#0056B3;
}
.form-container{
  margin:30px 350px;
}
.mb-3{
  width: 70%;
}
.content{
  width: 90%;
}
textarea{
  height:220px;
  overflow: scroll;
}
.link{
  display: flex;
  justify-content: center;
}

.show {
  text-align: center;
  align-items: start;
}
.show-content{
  text-align: center;
  margin: 24px 24px;
  padding-top: 24px;
}
.link i{
  margin-top: 24px ;
  font-size: 32px;
}
